.env
*.env
!.gitignore
/.idea
.idea/workspace.xml
composer.lock
vendor

public/assets
public/css
public/global
public/js
public/json
public/register_assets
public/uploads


storage/*.key
public/storage
